@import "tailwindcss";

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

html[data-lenis],
html,
body {
    overflow: visible;
}

[data-lenis-prevent] {
    overscroll-behavior: contain;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

@layer base {
    button,
    a,
    input,
    textarea,
    select,
    [tabindex]:not([tabindex="-1"]),
    [role="button"] {
        @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-white;
    }
}