@import "tailwindcss";

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

html[data-lenis],
html,
body {
    overflow: visible !important;
}

[data-lenis-prevent] {
    overscroll-behavior: contain;
}